
/* default style - inherit */

    /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        padding: 0 !important;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        width: 100%;
        height: 100%;
        line-height: 1.46;
    }

/* default style - inherit */


/* defaut from me  */
    html {
        scroll-behavior: smooth;
    }

    a {
        text-decoration: none;
        color: #0F6ABE;
    }

    a:hover {
        cursor: pointer;
    }

    h1, h2, h3, h4, h5 {
        text-align: left !important;
    }

    p {
        text-align: left !important;
        font-size: 16px;
        color: #1a1a1a;
    }

    b, strong {
        font-weight: bold;
        color: #1a1a1a;
    }

    em, i {
        font-style: italic;
        color: #1a1a1a;
    }

    ol, ul {
        color: #1a1a1a;
    }

    ol li, ul li {
        text-align: left;
    }

    figure, img {
        width: 100%;
        height: auto;
    }

    ul li a strong, ul li a b {
        font-weight: normal;
    }

    span {
        font-size: 16px;
    }

    cite {
        font-size: 16px;
    }


/* defaut from me  */


/* scrollbar  */

    /* width */
    ::-webkit-scrollbar {
        width: 8px;
        height: 20px;
        
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        background: none; 
    }
   
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(189, 189, 189); 
        border-radius: 5px !important;
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

/* scrollbar  */
/* header style  */
    .header {
        display: block;
        width: 100%;
    }

    .header-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 35px 0 35px;
        box-sizing: border-box;
    }

    .header .header-in {
        z-index: 6;
        top: 0px;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid grey;
        background-color: white;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .header-in .main-menu {
        z-index: 9;
        float: left;
        display: inline-flex;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #0440c4;
        box-sizing: border-box;
        user-select: none;
        background-image: url("img/menu-icon.svg");
        background-size: 25px auto;
        background-repeat: no-repeat;
        background-position: center;
        padding-right: 10px;
        padding-left: 10px;
        box-sizing: border-box;
    }

    .main-menu img {
        z-index: 6;
        display: inline-block;
        width: 25px;
        padding-left: 12px;
        padding-right: 12px;
        height: auto;
    }

    .header-in .main-menu:hover {
        cursor: pointer;
        background-color: #0335a0;
        color: black;
    }



    .header-in .brand-logo {
        z-index: 7;
        position: relative;
        float: left;
        margin-left: 30px;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        width: 150px;
        height: auto;
        align-items: center;
        user-select: none;
    }

    .brand-logo a img {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .brand-logo a:hover {
        cursor: pointer;
        text-decoration: none;
    }

    .brand-logo a img:hover {
        cursor: pointer;
    }

    .header-in .costum-main-menu {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        justify-items: center;
        padding-bottom: 3px;
        box-sizing: border-box;
    }

    .costum-main-menu nav a {
        padding: 0 10px 0 10px;
        text-decoration: none;
        font-size: 13px;
        color: #262626;
    }

    .costum-main-menu nav a:hover {
        text-decoration: none;
        cursor: pointer;
        color: #666666;
    }

    .header-in .main-search {
        float: right;
        display: flex;
        width: 20px;
        height: auto;
        align-items: center;
    }

    .main-search img {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .main-search img:hover {
        cursor: pointer;
    }



    .header .header-bottom {
        z-index: 6;
        display: none !important;
        width: 100%;
        min-height: 40px;
        background-color: #0F6ABE;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        box-shadow: 0 4px 12px -4px #209ADE;
    }

    .header-bottom .header-container {
        margin-top: -3px;
        line-height: 1.1;
    }

    .header-bottom a {
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        color: white;
    }

    .header-bottom a:hover {
        color: black;
    }





/* header style  */

/* search  */

    .header-in .search {
        z-index: 11;
        display: none;
        position: absolute;
        width: 100%;
        height: 70px;
        top: 50px;
        align-items: center;
        background-color: #1b1b1b;
    }

    .search .search-form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .show {
        display: inline-block !important;
    }

    .search-form .search-field {
        align-items: center;
        width: 80%;
        height: 30px;
        padding: 20px 20px 20px 20px;
        background-color: #1b1b1b;
        box-sizing: border-box;
        border: none;
        font-size: 19px;
        color: #ececec;
    }

    .search-form .search-field:focus {
        outline: none;
    }

    .search-form .search-submit {
        float: right;
        width: 10%;
        height: 35px;
        border: none;
        border-radius: 2px;
        background-color: #0440c4;
        color: white;
        font-weight: bold;
        box-sizing: border-box;
    }

    .search-form .search-submit:hover {
        cursor: pointer;
        background-color: #0438a8;
    }





/* search  */


/* menu dropdown  */

    .header-in .main-menu:hover .menu-dropdown {
        display: block;
    }

    .header-in .menu-dropdown {
        display: none;
        margin-left: -10px;
        top: 50px;
        position: absolute;
        width: 15%;
        height: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: #0440c4;
    }

    .menu-dropdown .dropdown {
        margin-left: 15px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    } 

    .dropdown nav a {
        display: block;
        margin-bottom: 9px;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        color: #E5E4E4;
    }

    .dropdown nav a:hover {
        color: black;
    }


/* menu dropdown  */



/* main style  */
    
    main {
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 100%;
        height: 100%;
        max-height: max-content;
        background-color: white;
        box-sizing: border-box;
    }

    .main-body {
        display: block;
        width: 100%;
        height: 100%;
    }

    .main-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 940px;
        height: 100%;
        box-sizing: border-box;
    }

    .recent-posts {
        display: block;
        width: 100%;
        min-height: min-content;
        height: 100%;
        background-color: white;
    }

    .recent-posts .main-advertisement {
        width: 100%;
        height: 200px;
        /* display: none; */
        background-color:#E5E4E4;
        margin-bottom: 30px;
        box-sizing: border-box;
        border-radius: 2px;
    }

    .recent-posts .recent-info {
        width: 100%;
        min-height: 100%;
        background-color: white;
        padding-bottom: 10px;
        border-bottom: 0.7px solid #121212;
    }

    .recent-posts .recent-info p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.2px;
        color: #262626;
    }

    .recent-posts .recent-posts-main {
        display: inline-block;
        position: relative;
        width: 100%;
        min-height: 100%;
        height: 100%;
        margin-top: 10px;
        /* background-color: green; */
    }

    .recent-posts-main .recent-post-index {
        width: 69%;
        height: 100%;
        float: left;
        padding-right: 35px;
        box-sizing: border-box;
    }

    .recent-posts-main .recent-sidebar-index {
        display: block;
        width: 31%;
        height: 100%;
        float: left;
        background-color: white;
        box-sizing: border-box;
    }

    /* advertisement  */
    .recent-sidebar-index .sidebar-adv {
        display: block;
        width: 100%;
        height: 600px;
        background-color: #E5E4E4;
        border-radius: 3px;
    }

    .recent-post-inside {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0px 0 20px 0;
        background-color: white;
        box-sizing: border-box;
    }

    .recent-post-inside .thumbnail-post {
        z-index: 6;
        display: block;
        width: 32%;
        height: 135px;
        max-height: 160px;
        float: left;
        overflow: hidden;
        background-color: #E5E4E4;
        box-sizing: border-box;
        border-radius: 2px;
    }

    .thumbnail-post > picture {
        display: block;
        width: 100%;
        /* min-height: 160px; */
        height: 100%;
        background-size: cover;
        object-fit: cover;
        overflow: hidden;
        background-position: center center;
        position: relative;
    }
 
    .thumbnail-post >  picture img {
        display: block;
        width: 100%;
        /* min-height: 160px; */
        height: 100%;
        background-size: cover;
        object-fit: cover;
        overflow: hidden;
        background-position: center center;
        position: relative;
    }

    .recent-post-inside .post-inside {
        width: 68%;
        height: auto;
        padding-left: 20px;
        float: left;
        background-color: white;
        box-sizing: border-box;
    }

    .post-inside .category-post-inside {
        display: inline-block;
        margin: 10px 0 7px 0;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
    }

    .post-inside .category-post-inside a {
        text-decoration: none;
        text-transform: uppercase;
        color: #121212;
    }

    .post-inside .category-post-inside a:hover {
        text-decoration: none;
        color: #666666;
    }

    .category-post-inside .a, .gap-icon-cat {
        display: inline-block;
    }

    .category-post-inside .gap-icon-cat {
        width: 0.5px;
        height: 8px;
        margin: 0 5px 0 5px;
        background-color: #666666;
        box-sizing: border-box;
    }

    .post-inside .title-post-inside h3 {
        font-size: 19px;
        font-weight: bold;
        line-height: 1.3;
        padding-right: 30px;
        letter-spacing: -0.1px;
        color: #121212 !important;
    }

    .post-inside .title-post-inside h3 a {
        text-decoration: none;
        color: #121212;

    }

    .post-inside .title-post-inside h3 a:hover {
        color: #0F6ABE;
        text-decoration: none;
    }
    
    span.author-post-inside {
        display: inline-block;
    }

    .author-post-inside {
        display: inline-block;
        margin: 10px 0 0px 0;
        font-size: 10px;
        color: #666666
    }

    .author-post-inside .author-post, .gap-icon, .time-post {
        display: inline-block;
    }

    .author-post-inside .gap-icon {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #666666;
        margin: 0 5px 2px 5px;
        box-sizing: border-box;
    }

    .author-post-inside .author-post a {
        text-decoration: none;
        color: #666666;
    }

    .author-post-inside .author-post a:hover {
        color: #0F6ABE;
        text-decoration: none;
    }

    .recent-button-page {
        width: 100%;
        height: 40px;
        margin-bottom: 25px;
        user-select: none !important;
    }

    .recent-button-page .recent-button {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        background-color: white;
        border: 1px solid #303030;
        border-radius: 3px;
        text-decoration: none;
        color: #121212;
        font-size: 15px;
        font-weight: bold;
        width: 100%;
        height: 100%;
        user-select: none !important;
    }

    .recent-button:hover {
        background-color:#121212;
        color: #E5E4E4;
        cursor: pointer;
    }

/* main style  */


/* post  */


    .header-post {
        width: 100%;
        height: auto;
    }

    .header-post .header-post-top {
        padding-bottom: 10px;
        border-bottom: 0.7px solid #121212;
    }

    .header-post .header-post-category {
        width: auto;
        height: auto;
        display: inline-block;
    }

    .header-post-category a {
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: #0F6ABE;
    }

    .header-post-title {
        width: 100%;
        height: auto;
    }

    .header-post-title h1 {
        font-size: 43px;
        font-weight: 900;
        color: #131313;
        line-height: 1.3;
        padding-right: 70px;
    }

    .header-post-desc {
        display: inline-block;
        width: 90%;
        height: auto;
    }

    .header-post-desc span {
        display: inline-block;
        margin: 10px 0 10px 0;
        font-size: 14px;
        letter-spacing: 0.3px;
        color: #666666;
    }
    

    .header-post-bottom {
        display: inline-block;
        width: 100%;
        height: auto;
        margin: 15px 0 0 0;
    }

    .header-post-info {
        font-size: 14px;
        width: auto;
        height: auto;
        float: left;
        color: #666666;
    }

    .header-post-link {

        font-size: 14px;
        float: right;
    }

    .post-author {
        display: inline-block;
    }

    .post-date {
        font-size: 14px;
        margin-left: 20px;
        display: inline-block;
    }
    
    .post-author span, .post-date span {
        font-size: 14px;
        display: inline-block;
    }

    .post-author span a {
        text-decoration: none;
        color: #0F6ABE;
    }

    /* social share  */

    .social-share {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .comment-count {
        float: left;
        margin-right: 10px;
    }

    .comment-count a {
        font-size: 14px;
    }

    .twitter-share, .facebook-share, .copy-link {
        float: left;
        width: auto;
        height: auto;
        user-select: none;
        margin: 0 8px 0 8px;
    }

    .twitter-share img, .facebook-share img, .copy-link img {
        width: 17px;
        height: auto;
        box-sizing: border-box;
        color: #0F6ABE;
    }


    .more-shares {
        z-index: 5;
        float: left;
        width: 17px;
        min-height: 50px;
        height: auto;
        margin: -1px 8px 0 8px;
        background-image: url("img/share-svgrepo-com.svg");
        background-repeat: no-repeat;
        background-size: 18px auto;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        box-sizing: border-box;
    }

    .more-shares .dropdown-share {
        align-items: center;
        z-index: 8;
        width: 30px;
        height: auto;
        margin-top: 27px;
        margin-left: -5px;
        position: absolute;
        display: none;
        user-select: none;
        border-radius: 4px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: #eeeeee;
    }

    .more-shares:hover {
        cursor: pointer;
        user-select: none;
    }

    .more-shares:hover .dropdown-share {
        cursor: pointer;
        display: block;
        user-select: none;
    }

    .dropdown-twitter-share, .dropdown-facebook-share, .dropdown-pinterest-share, .dropdown-linkedin-share, .dropdown-whatsapp-share {
        display: inline-block;
        padding: 6px 6px 2px 6px;
        box-sizing: border-box;
    }

    .dropdown-twitter-share img, .dropdown-facebook-share img, .dropdown-pinterest-share img, .dropdown-linkedin-share img, .dropdown-whatsapp-share img {
        width: 18px;
        height: auto;
    }

    .dropdown-twitter-share:hover, .dropdown-facebook-share:hover, .dropdown-pinterest-share:hover, .dropdown-linkedin-share:hover, .dropdown-whatsapp-share:hover {
        background-color: #bdbdbd;
    }

    .dropdown-twitter-share, .dropdown-facebook-share {
        display: none;
    }




    /* social share  */





    .recent-post-index .main-post {
        width: 100%;
        height: auto;
        display: block;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        line-height: 34px;
    }

    .main-post p {
        text-align: left !important;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 400;
        color: #1a1a1a;
    }

    .main-post a {
        text-decoration: none !important;
        color: #0F6ABE;
    }

    .main-post a:hover {
        cursor: pointer;
        color: #094f91;
        border-bottom: 2px solid black;
    }

    .main-post p > a {
        text-decoration: none !important;
        color: #0F6ABE;
    }

    .main-post p > a:hover {
        cursor: pointer;
        color: #094f91;
        border-bottom: 2px solid black;
    }

    .main-post p > b, p > strong {
        font-weight: bold;
    }

    .main-post p.read-more {
        border-left: 6px solid #0F6ABE;
        padding-left: 10px;
    }

    .main-post p.pustaka_ref {
        font-size: 14px;
        font-style: italic;
    }

    .main-post h2, .main-post h3, .main-post h4, .main-post h5 {
        font-weight: bold;
        padding-right: 25px;
        color: #141414;
    }

    .main-post h2 {
        margin: 20px 0 25px 0;
        font-size: 27px;
        line-height: 40px;
    }

    .main-post h3 {
        margin: 20px 0 15px 0;
        font-size: 24px;
        line-height: 40px;
    }

    .main-post h4 {
        margin: 20px 0 15px 0;
        font-size: 20px;
        line-height: 40px;
    }

    .main-post h5 {
        margin: 20px 0 15px 0;
        font-size: 18px;
        line-height: 40px;
    }

    .main-post figure {
        position: relative;
        display: block;
        width: 100%;
        margin: 20px 0 20px 0;
        height: auto;
        border-radius: 2px;
    }

    .main-post figure > img {
        display: inline-block;
        width: 100%;
        height: auto;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        background-color: #E5E4E4;
        border-radius: 2px;
    }

    .main-post p > img {
        width: 100;
        height: auto;
        margin-top: 10px !important;
        margin-bottom: 5px !important;
        padding: 0 !important;
        background-color: #E5E4E4;
        border-radius: 2px;
    }

    .main-post img {
        margin: 15px 0 15px 0;
        background-color: #E5E4E4;
        border-radius: 2px;
    }

    .main-post figure > figcaption {
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.3px;
        line-height: 18px;
        padding-right: 30px;
        color: #585858;
    }

    .main-post ol {
        margin: 10px 0 10px 0;
        padding-left: 40px;
        padding-right: unset;
        list-style-type: decimal;
        color: #1a1a1a;
    }

    .main-post ul {
        margin: 10px 0 10px 0;
        padding-left: 40px;
        padding-right: unset;
        list-style-type: disc;
        color: #1a1a1a;
    }

    .main-post ol li {
        text-align: left !important;
        line-height: 34px;
    }

    
    .main-post ul li {
        text-align: left !important;
        line-height: 34px;
    }

    .main-post pre, .main-post .wp-block-code {
        width: 100%;
        height: auto;
        padding: 7px 12px;
        margin-bottom: 12px;
        background-color: #f0f0f0;
        border-radius: 5px;
        /* border: 1px solid #BABABA; */
        box-sizing: border-box;
        
    }

    .main-post pre code {
        display: inline-block;
        text-align: left !important;
        font-size: smaller;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        line-height: 2.1;
        color: #1a1a1a;
    }

    .main-post .wp-block-code:hover {
        cursor: auto;
    }

    .main-post pre code:hover {
        cursor: auto;
    }

    /* table  */

    .main-post figure.wp-block-table {
        width: 100%;
        border-radius: unset !important;
        overflow-x: auto !important;
    }

    .main-post table {
        line-height: 2.4;
        font-size: 14px;
        width: 100%;
    }

    .main-post table thead {
        vertical-align: middle;
        width: 100%;
        display: table-row-group;
    }

    .main-post table tr {
        display: table-row;
    }

    .main-post table thead tr th {
        vertical-align: middle;
        width: unset !important;
    }

    .main-post table tbody tr td {
        width: unset !important;
    }

    .main-post table tr th {
        vertical-align: middle;
        padding: 8px 10px 8px 10px;
        width: 15px;
        text-align: left;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: #1a1a1a;
        box-sizing: border-box;
    }

    .main-post table tr td {
        padding: 8px 10px 8px 10px;
        width: 15px;
        border-bottom: 1px solid #E5E4E4;
        text-align: left;
        color: #1a1a1a;
    }

    .main-post table tr td ul {
        padding-right: unset !important;
    }

    .main-post table tr td ul li {
        line-height: 2;
    }

    /* table  */


    /* yoast  */

    .schema-faq strong.schema-faq-question {
        font-size: 16px;
    }

    .schema-faq p.schema-faq-answer {
        font-size: 16px;
    }

    /* yoast  */


    .main-post .tags {
        font-weight: bold;
        color: #262626;
    }

    .main-post .tags a {
        text-decoration: none;
        font-weight: 400 !important;
        font-size: 12px;
        margin: 0 10px 0 10px;
        letter-spacing: 0.3px;
        color: #666666;
    }

    .main-post .tags::before {
        font-weight: 400;
    }



    /* comments  */

    .main-comment {
        width: 100%;
        height: auto;
        margin: 30px 0 30px 0;
    }

    .comment-form {
        width: 100%;
        height: auto;
    }

    .discussion-comment {
        width: auto;
        height: auto;
        margin-bottom: 10px;
    }

    .discussion-comment p {
        font-weight: 600;
        font-size: 16px;
    }

    .form-comment {
        width: 90%;
        display: inline-block;
        margin-bottom: 10px;
    }

    .form-comment textarea.comment {
        width: 100%;
        float: left;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.2px !important;
        line-height: 1.5;
        padding: 10px 10px 10px 10px;
        border-radius: 3px;
        border: 1px solid #C7C5C5;
        box-sizing: border-box;
    }

    .form-comment input.author, .form-comment input.email {
        width: 32%;
        float: left;
        font-size: 12px;
        padding: 7px 10px 7px 10px;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 3px;
        border: 1px solid #C7C5C5;
        box-sizing: border-box;
    }

    .form-comment input.submit {
        width: 30%;
        padding: 7px 10px 7px 10px;
        margin-top: 10px;
        border: unset !important;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 500;
        background-color: #131313;
        color: white;
        box-sizing: border-box;
    }

    .form-comment input.submit:hover {
        cursor: pointer;
        background-color: #0F6ABE;
    }

    .comment-form p.comment-notif {
        font-size: 13px;
        font-weight: 500;
        padding-bottom: 18px;
        margin: 5px 0 10px 0;
        color: #4F4F4F;
        border-bottom: 0.5px solid #C7C5C5;
    }

    .list-comments {
        width: 100%;
        height: 100%;
        padding: 10px 0 15px 0;
        border-bottom: 0.5px solid #C7C5C5;
    }

    .list-comments ol, .list-comments ol.all-comments {
        list-style: none;
    }

    .list-comments ol li, li.comment {
        width: 100%;
        height: auto;
    }

    .list-comments ul.children {
        width: auto;
        height: auto;
        margin-left: 56px;
    }

    .comment-body {
        padding: 7px 0 7px 0;
    }

    .comment-author {
        width: auto;
        height: auto;
    }

    .comment-author img, .comment-author .avatar {
        width: 45px;
        height: auto;
        border-radius: 50px;
        float: left;
        margin-right: 10px;
        background-color: #E5E4E4;
        box-sizing: border-box;
    }

    .comment-author .fn {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 13px;
        color: #121212;
    }

    .comment-author .says {
        display: none;
    }

    .comment-meta {
        font-size: 10px;
        color: #BABABA;
    }

    .comment-meta a {
        color: #BABABA !important;
    }

    .comment-body p {
        font-size: 12px;
        line-height: 1.7;
        margin-top: 10px;
        padding: 2px 7px 10px 56px;
    }

    .reply {
        font-size: 12px;
        margin: 10px 0 10px 56px;
    }

    .reply a {
        font-size: 12px;
        color: #C3C3C3;
    }


    /* comments  */

    /* recent post  */

    .recent-post-related {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 20px 0 20px 0;
        box-sizing: border-box;
    }

    .recent-post-related ol li {
        list-style: none;
    }

    .related-post {
        display: inline-block;
        width: 100%;
        height: auto;
        list-style: none;
    }

    .main-related {
        display: inline-block;
        margin: 5px 0 5px 0;
        width: 100%;
        height: 100%;
    }

    .related-post-main {
        display: inline-block;
        width: 100%;
        height: auto;
    }

    .related-post-thumbnail {
        display: block;
        float: left;
        width: 28%;
        height: 80px;
        overflow: hidden;
        background-color: #E5E4E4;
        border-radius: 2px;
        box-sizing: border-box;
    }

    .related-post-thumbnail > picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        background-position: center center;
        position: relative;
    }

    .related-post-thumbnail > picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        background-position: center center;
        position: relative;
    }


    .related-post-inside {
        float: left;
        width: 72%;
        height: auto;
        padding-left: 15px;
        box-sizing: border-box;
    }

    .related-post-title h3 {
        font-size: 13px;
        padding-top: 4px;
        font-weight: bold;
        color: #121212;
    }

    .related-post-title h3 a {
        color: #121212;
    }

    .related-post-author {
        margin: unset;
        font-size: 10px;
        display: inline-block;
    }



    .related-post-author .author-post, .related-post-author .gap-icon, .related-post-author .time-post {
        display: inline-block;
    }

    .related-post-author .gap-icon {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #666666;
        margin: 0 3px 2px 3px;
        box-sizing: border-box;
    }

    .related-post-author .author-post a, .related-post-author .time-post {
        font-size: 9px;
        text-decoration: none;
        color: #666666;
    }

    /* recent post  */


    /* recent post news  */

    .recent-post-news {
        display: inline-block;
        width: 100%;
        height: auto;
    }

    .recent-post-single {
        display: inline-block;
        width: 100%;
        height: auto;
        list-style: none;
    }

    .recent-post-list {
        display: inline-block;
        width: 100%;
        height: auto;
        margin: 3px 0 3px 0;
        list-style: none;
    }


    .header-post-title h1 a {
        color: #131313;
    }

    .header-post-title h1 a:hover {
        color: #4099ff;
    }

    .short-desc {
        padding-right: 30px;
    }
    /* recent post news  */

/* post  */


/* footer style  */
    
    footer { 
        display: block;
        margin-top: 150px;
        width: 100%;
        height: 100%;
    }

    footer.main-footer {
        display: inline-block;
        width: 100%;
        height: 250px;
    }

    .main-footer .footer-top {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .main-footer .footer-bottom {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin-bottom: 80px;
    }

    .footer-top .footer-menu {
        display: block;
        float: left;
        width: auto;
        height: 100%;
    }

    .footer-menu .footer-menu-left {
       display: block;
       float: left;
       margin-right: 140px;
       box-sizing: border-box;
    }

    .footer-menu-left ul li {
        text-align: left;
        font-size: 15px;
        font-weight: bold;
        color: #121212;
        padding: 10px 10px 30px 0;
    }

    .footer-menu-left ul li a {
        text-decoration: none;
        color: #121212;
    }

    .footer-menu-left ul li a:hover {
        color:#0F6ABE;
    }

    .footer-top .footer-social-media {
        display: block;
        width: auto;
        height: auto;
        margin-top: 10px;
        float: right;
        box-sizing: border-box;
    }

    .footer-social-media .thumbnail-sosmed {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-left: 35px;
        background-color: #E5E4E4;
        border-radius: 3px;
        box-sizing: border-box;
    }

    .thumbnail-sosmed a {
        width: auto;
        height: auto;
    }

    .thumbnail-sosmed a img {
        padding: 9px 7px 5px 8px;
        width: 18px;
        height: 18px;
    }

    .footer-social-media .facebook:hover {
        background-color: #4879ff !important;
    }

    .footer-social-media .twitter:hover {
        background-color: #4099ff !important;
    }

    .footer-social-media .pinterest:hover {
        background-color: #df3737 !important;
    }



    .footer-bottom .footer-logo {
        width: 100px;
        padding-top: 4px;
        float: left;
    }

    .footer-logo img {
        display: inline-block;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .footer-bottom .footer-watermark {
        padding: 5px 0 0 0;
        float: right;
        font-size: 14px;
        font-weight: medium;
        color: #2F2F2F;
    }


/* footer style  */

@media screen and (max-width: 1280px) {
    /* hi-res laptops and desktops, big landscape tablets, laptops, and desktops*/ 

}

@media screen and (max-width: 1025px) {

}

@media screen and (max-width: 960px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 

    /* header style  */

    .header-in .header-container {
        margin: 0 18px 0 18px;
    }

    .header-bottom .header-container {
        margin: 0 18px 0 18px;
    }

    .header-in .costum-main-menu {
        display: none;
    }

    .header-in .main-menu {
        width: 50px !important;
    }

    .header-in .brand-logo {
        float: none;
        margin-left: auto;
        margin-right: auto;
        justify-items: center;
        justify-content: center;
    }

    header .main-container {
        margin: 0 18px 0 18px;
    }


    /* header style  */

    /* main style  */
    main .main-container {
        margin: 0 15px 0 15px;
    }


    /* post  */

    .header-post-title h1 {
        font-size: 42px;
        padding-right: 60px !important;
    }

    .header-post-desc span {
        font-size: 14px;
        padding-right: 10px;
    }

    .main-post p {
        font-size: 17px !important;
    }

    /* post  */

    /* main style  */

    /* footer style  */

    footer .main-container {
        margin: 0 18px 0 18px;
    }

    /* footer style  */

}

@media screen and (max-width: 768px) {


    /* header  */

    .header-in .main-menu {
        width: 53px !important;
        background-image: url("img/menu-icon.svg");
        background-size: 25px auto;
        padding: unset !important;
        margin-left: -18px;
        background-position-y: center;
        background-position-x: 15px;
        box-sizing: border-box;

    }

    .header-in .main-menu:hover {
        background-image: url("img/menu-icon.svg");
    }

    /* header  */


    /* menu dropdown  */
    .menu-dropdown {
        width: 30% !important;
    }

    .menu-dropdown .dropdown {
        margin-left: 25px;
    }

    /* menu dropdown  */

    /* main style  */
    main .main-container {
        margin: 0 18px 0 18px;
    }

    .recent-posts-main .recent-post-index {
        width: 100%;
        float: left;
        padding-right: unset !important;
        box-sizing: border-box;
    }

    .recent-posts-main .recent-sidebar-index {
        width: 100%;
        float: left;
        box-sizing: border-box;
    }

    .post-inside .title-post-inside h3 {
        font-size: 20px;
    } 


    /* post  */

    .header-post-title h1 {
        font-size: 40px;
        padding-right: 60px !important;
    }

    .header-post-desc span {
        font-size: 14px;
        padding-right: 10px;
    }

    /* post  */

    /* main style  */


    /* related post  */

    .related-post-thumbnail {
        width: 32% !important;
        min-height: 135px;
        max-height: 160px;
    }

    .related-post-inside {
        width: 68% !important;
    }

    .related-post-title h3 {
        font-size: 20px !important;
        line-height: 1.3;
        letter-spacing: -0.1px;
        padding-top: 10px;
        padding-right: 30px;
        box-sizing: border-box;
    }

    span.related-post-author {
        display: inline-block;
        margin-top: 10px;
    }

    .related-post-author .author-post a, .related-post-author .time-post {
        font-size: 10px;
    }

    .related-post-author .gap-icon {
        width: 2px;
        height: 2px;
        margin: 0 5px 2px 5px;
    }

    /* related post  */


    /* footer style  */
    
    .footer-menu .footer-menu-left {
        display: block;
        float: left;
        margin-right: 100px;
        box-sizing: border-box;
     }

    /* footer style  */

}

@media screen and (max-width: 600px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 


    /* main header  */

    /* .header-bottom .header-container {
        margin-top: -5px;
    } */

    .header-bottom a {
        font-size: 11px;
    }

    /* search  */

    .search-form .search-field {
        width: 70%;
        font-size: 17px;
    }

    .search-form .search-submit {
        width: 25%;
        font-size: 12px;
        font-weight: bold;
    }


    /* search  */


    /* menu dropdown  */

    .menu-dropdown {
        width: 50% !important;
    }

    
    /* menu dropdown  */


    /* main header  */


    /* main style  */

    .recent-info p {
        font-size: 12px !important;
    }

    .recent-posts-main {
        margin-top: 20px;
    }

    .recent-post-index {
        padding-right: 10px !important;
    }

    .recent-post-inside {
        margin-bottom: 20px !important;
    }

    .post-inside {
        width: 70% !important;
        margin-top: 5px;
        padding-left: 15px !important;
    }

    .post-inside .category-post-inside {
        display: none !important;
        margin-top: 5px !important;
    }

    .recent-post-inside .thumbnail-post {
        width: 30% !important;
        max-height: 130px !important;
    }


    .thumbnail-post > picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        background-position: center center;
        position: relative;
    }

    .thumbnail-post > picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        background-position: center center;
        position: relative;
    }

    .post-inside .title-post-inside h3 {
        padding-right: 10px !important;
        font-size: 18px !important;
        line-height: 1.3;
    }

    .author-post-inside {
        font-size: 9px !important;
    }

    


    /* post  */
    .header-post-category a {
        font-size: 11px;
        text-transform: uppercase;
    }

    .header-post-title h1 {
        font-size: 36px;
        padding-right: 10px !important;
    }

    .header-post-desc {
        width: 100%;
    }

    .header-post-desc span {
        font-size: 12px !important;
        letter-spacing: 0.2px !important;
        line-height: 1.5 !important;
    }

    .header-post-info {
        font-size: 12px !important;
    }

    .post-author span, .post-author span a {
        font-size: 12px !important;
    } 

    .post-date {
        margin-left: 5px !important
    }

    .post-date, .post-date span {
        font-size: 12px !important;
    }

    /* social share  */

    .comment-count, .twitter-share, .facebook-share {
        display: none !important;
    }

    .dropdown-twitter-share, .dropdown-facebook-share {
        display: inline-block !important;
    }

    .more-shares .dropdown-share {
        align-items: center;
        width: 40px;
        margin-top: 38px;
        height: auto;
        margin-left: -10px;
    }

    .dropdown-twitter-share, .dropdown-facebook-share, .dropdown-pinterest-share, .dropdown-linkedin-share, .dropdown-whatsapp-share {
        display: inline-block;
        padding: 14px 10px 10px 10px;
        box-sizing: border-box;
    }

    .dropdown-twitter-share img, .dropdown-facebook-share img, .dropdown-pinterest-share img, .dropdown-linkedin-share img, .dropdown-whatsapp-share img {
        width: 20px;
        height: auto;
    }

    .dropdown-facebook-share img {
        height: 20px !important;
    }

    




    /* social share  */


    .main-post h2, h3, h4, h5 {
        padding-right: unset !important;
        line-height: 1.5 !important;
        color: #262626;
    }

    .main-post h2 {
        font-size: 25px;
    }

    .main-post h3 {
        font-size: 22px;
    }

    .main-post h4 {
        font-size: 18px;
    }

    .main-post h5 {
        font-size: 18px;
    }

    .main-post p {
        font-size: 16px !important;
    }


    .main-post p.pustaka_ref {
        font-size: 11px !important;
        line-height: 1.6 !important;
        letter-spacing: 0.5px;
    }

    .main-post figure > figcaption {
        padding-right: 10px;
        font-size: 10px !important;
        line-height: 1.4 !important;
    }

    .is_mega_medium, .is_mega {
        display: block !important;
        width: calc(100% + 36px) !important;
        height: auto;
        margin-left: -18px !important;
        margin-right: -18px !important;
        padding-left: 0;
        padding-right: 0;
        border-radius: unset !important;
    }

    .is_mega_medium img, .is_mega img {
        border-radius: unset !important;
    }

    .is_mega_medium figcaption, .is_mega figcaption {
        margin-left: 18px !important;
        margin-right: 18px !important;
    }

    .main-post ul li, .main-post ol li {
        line-height: 2.1 !important;
    }

    /* table  */

    .main-post table {
        font-size: 13px;
    }

    .main-post table tr th {
        font-size: 14px;
    }

    .main-post table tr td ul {
        padding-left: 20px;
        margin-top: 5px;
    }

    /* table  */


    /* comment  */

    .form-comment {
        width: 95%;
    }

    .form-comment textarea.comment {
        font-size: 13px;
    }

    .form-comment input.author {
        font-size: 13px;
    }

    .form-comment input.email {
        font-size: 13px;
    }

    .form-comment input.submit {
        width: 30%;
        font-size: 14px;
        font-weight: bold;
    }


    /* comment  */


    /* post  */

    /* related post  */

    .related-post-thumbnail {
        width: 30% !important;
    }

    .related-post-inside {
        width: 70% !important;
        padding-left: 20px !important;
    }

    .related-post-title h3 {
        font-size: 18px !important;
        padding-right: 10px !important;
    }

    .related-post-author a, .related-post-author .time-post {
        font-size: 9px !important;
    }



    /* related post  */

    /* main style  */

    /* footer style  */

    .footer-menu .footer-menu-left {
        margin-right: 80px !important;
     }

    /* footer style  */
}

@media screen and (max-width: 480px) {

    /* for mobile device  */
    
    /* main style  */
    
    .recent-post-inside {
        margin-bottom: 10px !important;
    }

    .post-inside .category-post-inside {
        margin-bottom: 5px;
        font-size: 10px;
    }

    .post-inside .title-post-inside h3 {
        font-size: 15px !important;
        line-height: 1.2;
    }

    .recent-post-inside .thumbnail-post {
        margin-top: 5px !important;
        max-height: 100px !important;
    }


    /* post  */

    .header-post-title h1 {
        font-size: 27px;
    }

    .main-post h2 {
        font-size: 24px;
    }

    .main-post h3 {
        font-size: 22px;
    }

    .main-post ul, .main-post ol {
        padding-right: unset !important;
    }

    /* table  */

    figure.wp-block-table {
        width: calc(100% + 20px) !important;
        margin-left: -10px;
        margin-right: -10px;
    }

    /* table  */


    /* social share  */

    .copy-link {
        display: none !important;
    }

    /* social share  */

    /* comment  */

    .form-comment {
        width: 100%;
    }
    .form-comment textarea.comment {
        font-size: 11px;
    }

    .form-comment input.author, .form-comment input.email {
        width: 31%;
        margin-right: 7px;
        font-size: 11px;
    }

    .form-comment input.submit {
        width: 33%;
        font-size: 11px;
    }


    /* comment  */


    /* post  */
    

    /* recent post  */

    .related-post-inside {
        padding-left: 15px !important;
    }

    .related-post-thumbnail {
        height: 135px !important;
        min-height: unset !important;
        max-height: 100px !important;
    }


    .related-post-title h3 {
        padding-top: unset !important;
        font-size: 15px !important;
    }
    /* recent post  */


    /* main style  */

    /* footer style  */
    .footer-top .footer-menu {
        width: 100% !important;
        height: 100% !important;
        margin-bottom: 20px;
    }

    .footer-menu .footer-menu-left {
        float: none;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .footer-menu-left ul {
        text-align: center;
    }

    .footer-menu-left ul li {
        text-align: center !important;
        font-size: 14px;
        padding: 10px 10px 15px 10px;
    }


    .footer-top .footer-social-media {
        float: none;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        /* margin-left: auto !important;
        margin-right: auto !important; */
    }

    .footer-social-media .thumbnail-sosmed {
        display: inline-block;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .footer-bottom .footer-logo {
        display: none;
    }

    .footer-bottom .footer-watermark {
        float: none;
        display: flex;
        justify-content: center;
        font-size: 11px;
    }

    /* footer style  */

}

@media screen and (max-width: 390px) {
    

    /* table  */

    .main-post table {
        font-size: 13px;
    }

    .main-post table tr th {
        font-size: 12px;
    }

    /* table  */
}


@media screen and (max-width: 350px) {


    /* post  */

    .header-post-category {
        font-size: 14px !important;
    }

    .header-post-title h1 {
        font-size: 24px !important;
    }

    .header-post-info {
        font-size: 13px !important;
    }

    .header-post-info .post-date {
        margin-left: 5px !important;
    }

    .copy-link {
        display: none !important;
    }

    /* post  */



}